@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilo de fondo */


/* Estilo de fondo */
ion-content {
  --background: url('/assets/img/bk.png') no-repeat center center / cover;
  background-attachment: fixed; /* Mantiene el fondo fijo */
}

/* Contenedor principal */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Ajusta la posición de inicio del contenido */
  height: auto; /* Ajusta la altura automáticamente para permitir desplazamiento */ 
   padding: 20px;
  background: transparent;
  border-radius: 10px;
  max-width: 100%;
}

/* Estilo del buscador */
.search-item {
  width: 100%;
  max-width: 500px;
  --background: #000;
  --border-radius: 15px;
  margin-bottom: 20px;
  position: sticky; /* Mantener el buscador fijo en la parte superior */
  top: 0;
  border: solid 3px #5e09c0;
  border-radius: 28px;
  z-index: 10;
  background: #000; /* Fondo negro para evitar que desaparezca */
}

ion-input {
  --color: white;
  --placeholder-color: white;
  padding-left: 10px;
  background: transparent; /* Asegura que el input tenga fondo transparente */
  border: none; /* Quita bordes innecesarios */
}
/* Mensaje de no encontrado */
.no-results {
  color: white;
  margin: 20px;
  text-align: center;
}

/* Contenedor de bares */
.bars-container {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  margin-top: 10px;
  gap: 10px;
  
}

/* Estilo de las tarjetas de bares */
/* Estilo de las tarjetas de bares */
ion-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  background: black;
  color: white;
  width: 100%;
  padding: 5px;
  position: relative;
  height: auto; /* Permitir altura automática para que se ajuste al contenido */
}


/* Estilo del contenedor de filtros de categoría */
.category-filters {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

.bar-card-header {
  background-size: contain; /* Asegura que las imágenes se ajusten sin cortar */
  background-position: center;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  height: 100px; /* Ajusta según el tamaño del contenido */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Título de las tarjetas */
ion-card-title, ion-card-subtitle {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  margin-top: 0;
}

ion-card-content {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro para el contenido */
  text-align: center; /* Centrar el texto */
}

ion-card-content p {
  font-size: 1rem; /* Tamaño de fuente más grande */
  margin: 0;
  line-height: 1.4;
  text-align: center; /* Centrar el texto */
  color: white;
}

/* Estilo del logo en la lista */
.bar-logo-list {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Estilo de la lista de bares */
.bars-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 500px;
  color: white;
}

/* Estilo de la lista de bares */
.bars-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 500px;
  color: white;
  background-color: black; /* Fondo negro */
  border: 2px solid white; /* Bordes blancos */
  border-radius: 10px;
}

.bars-list li {
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos dentro de la lista */
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid white; /* Línea de separación entre elementos */
}

.bar-logo-list {
  width: 70px; /* Aumentar tamaño de la imagen */
  height: 70px;
  border-radius: 10%; /* Bordes redondeados */
  margin-right: 15px;
}

.login-button {
  margin-top: 20px;
  --background: #000;
  border-radius: 25px;
  --border-radius: 25px;
  border: solid 3px #5e09c0;
  text-transform: uppercase;
  font-weight: 900;
}

.login-button:hover {
  margin-top: 20px;
  --background: #ffffff;
  border-radius: 25px;
  --border-radius: 25px;
  border: solid 3px #5e09c0;
  text-transform: uppercase;
  color: #5e09c0;
  font-weight: 900;
}
